/* THE DESKTOP SETTINGS*/
/* Above 700px */

@media (min-width: 43.75em) {
  /******************/
  /* Global Styles */
  /******************/

  main {
    /* To align the content such as the design file */
    translate: 0 1.3125rem;
  }

  /******************/
  /* Component Styles */
  /******************/

  .article-preview-card {
    max-width: 57.5rem;

    /* The Grid Template */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .preview-card__description {
    margin-bottom: 3.625rem;
  }
}
