/* THE DESKTOP SETTINGS*/
/* Above 700px */

@media (min-width: 700px) {
  /******************/
  /* Global Styles */
  /******************/

  main {
    /* To align the content such as the design file */
    translate: 0 21px;
  }

  /******************/
  /* Component Styles */
  /******************/

  .section-preview-card {
    max-width: 920px;

    /* The Grid Template */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .preview-card__description {
    margin-bottom: 58px;
  }
}
